/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

/* ======================== sommaire ====================== */
.contentViewStart {
  position: relative;
  width: 100% !important;
}

.navigationLink:hover {
  text-decoration: none;
}

.containerCayore {
  padding-left: 4rem !important;
  padding-right: 4rem ;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.bannerListeProjet {
	background: #e9f3f4;
	padding: 2rem;
  text-align: center;
}

.titreBannerListeProjet {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.025em;
  color: rgba(0, 0, 0, 0.7);
}

.forumCardSommaire {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  min-width: 100% !important;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
}
.forum-card-taille{
  width: 65vw;
}
.forumCardSommaireFixWidth {
  /* width: 90vw; */
  width: 100% !important;
}
.forum-card-skeleton-fix-width {
  width: 80vw;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  min-width: 100% !important;
}
.avatarSkeleton {
  width: 50px !important;
  height: 80px !important;
  border-radius: 50% !important;
}
.avatarArticleSkeleton {
  width: 80px !important;
  height: 130px !important;
  border-radius: 50% !important;
  margin-top: -20px;
}
.contentSkeleton, .contentSkeleton2 {
  width: 100px !important;
  height: 20px !important;
}
/* .contentSkeleton {
  width: 100px !important;
  height: 20px !important;
} */
.contentSkeletonUser {
  width: 120px !important;
  height: 20px !important;
}
.contentSkeletonPara {
  width: 600px !important;
  height: 20px !important;
}
.contentSkeletonPara2 {
  width: 500px !important;
  height: 20px !important;
}

/* .forum-card-sommaire-discussion {
  width: 75vw;
} */

.cardSommaireDateAjout {
  position: absolute;
  right: 0px;
  top: 0px;
  border-bottom: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  border-radius: 0px 10px;
  padding: 5px 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
  color: #5E5B5B;
}

.imgSommaireForum, 
.imgSommaireForumDiscussion {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  /* max-width: 100%; */
}

.titreSommaireForum {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
  color: #000000;
  padding-top: 15px;

}
.forumSommaireAuteurCard {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
  color: #5E5B5B;
  margin-top: -10px;
}

.textSommaireForum {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
  color: #5E5B5B;
}
.sommaireForumUserChat, 
.divNombreCommentaireSommaireForum {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sommaireForumUserChat {
  margin-top: -38px;
}
.divSommaireForumUserChat1 {
  z-index: 1000;
  border-radius: 50%;
  border: 1px solid #CCCCCC !important;
}
.divSommaireSorumUserChat2 {
  z-index: 900;
}
.divSommaireForumUserChat3 {
  z-index: 800;
}
.divSommaireForumUserChat4 {
  z-index: 700;
}
.divSommaireForumUserChat5 {
  z-index: 600;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BDBDBD;
  padding-top: -20px;
  box-sizing: border-box;

  width: 30px;
  height: 30px;
  border: 1px solid #FFFFFF;
}

.divSommaireForumUserChat2,
.divSommaireForumUserChat3,
.divSommaireForumUserChat4,
.divSommaireForumUserChat5 {
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #CCCCCC !important;

  width: 30px;
  height: 30px;
  border: 1px solid #FFFFFF;
}

.imgSommaireForumUserChat {
  width: 30px;
  height: 30px;
  border: 1px solid #FFFFFF;
  /* box-sizing: border-box; */
}

.nombreCommentaireSommaireForum {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
  color: #BDBDBD;
}

.troisPoints {
  /* font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.025em; */
  color: #5E5B5B;
  margin-top: -2px;
  margin-left: 12px;
  font-size: 10px;
}

.sommaireAvatarTitre {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.imgSommaireForum{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    /* max-width: 100%; */
}

/* ===================== discussion =================== */

.cardDiscussionHeureVu, 
.cardDiscussionHeureCommentaire,
.cardDiscussionHeureVuLaurhille {
  
  padding: 5px 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
  color: #5E5B5B;
  gap: 15px;
}
.cardDiscussionHeureCommentaire{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.cardDiscussionHeureVu {
  position: absolute;
  right: 0px;
  top: 0px;
}
.cardDiscussionCommentaire,
.cardDiscussionCommentaire:hover,
.cardDiscussionCommentaire:focus
{
  color: #5E5B5B;
  text-decoration: none;
}

.imgSommaireForumDiscussion2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

.divSeparateur {
  border: 1px solid grey !important;

}

.row-input {
  width: 100% !important;
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.rowReponse {
  width: 100%;
}
.row-reponse-ligne-union,
.row-reponse-ligne-union1,
.forum-discussion-ligne-union {
  position: relative;
}

.row-reponse-ligne-union::after {
  content: '';
  width: 4%;
  height: 0;
  position: absolute;
  border: 1px solid #C4C4C4;
  top: 25px;
  left: 40px;
  z-index: -1;
}
.row-reponse-ligne-union1::after {
  content: '';
  width: 20%;
  height: 0;
  position: absolute;
  border: 1px solid #C4C4C4;
  top: 25px;
  left: 40px;
  z-index: -1;
}
/* 
hr.divider {
  margin:0;
  padding:0;
  line-height:1px;
  height:0;
  } */

.divSeparateur {
  border: 1px solid #C4C4C4 !important;
  margin-bottom: 20px !important;
  margin-top: 20px;
  z-index: 10 !important;
}

.forum-discussion-ligne-union::after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  border: 1px solid #C4C4C4;
  top: 27px;
  left: 40px;
  z-index: -1;
}
.offline-alert-card {
  background: #ff980020 !important;
}
.offline-alert-textual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center !important;
}
.redirect-to-login-btn {
  width: 20%;
  margin: auto;
  background: #115c67 !important;
  border-color: #115c67 !important;
  padding: 14px;
  border-radius: 10px;
  font-weight: 600;
}
.offline-alert-textual span {
  margin-bottom: 15px;
}
.redirect-to-login-btn:hover {
  background: transparent !important;
  color: #115c67 !important;
}

.cardParent {
  width: 100% !important;
}


.formAddCguButtonAjouter {
  background: #115C67;
  border-radius: 4px;
  /* width: 86px;
  height: 38px; */
  padding: 10px 15px;
border-radius: 4px;
font-family: "Poppins";
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
text-align: center;
color: #fff;
outline: none;
  padding: 4px 10px;
}

/* ------------AJOUTER UN SUJET------------ */
/* .loginContainer {
  background-color: #E5E5E5;
  height: 100vh;
} */
.ajouter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.forumContainer {
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px 45px;
  width: 60%;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  min-width: 100% !important;
  margin-bottom: 2rem;
  /* padding: 0.5rem 1rem; */
  margin-top: 12px;
}

.forumTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.3px;
  margin-bottom: 50px;
  color: #252733;
}

.authForm {
  display: flex;
  flex-direction: column;

}

.inputCol label {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #9FA2B4;
  margin-top: 10px;
}

.submitBtnRow {
  display: flex;
  flex-direction: column;
}

.authSubmitBtn {
  background: #115C67;
  border-color: #115C67 !important;
  width: 100%;
  padding: 15px;
  margin-top: 10%;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}

.authSubmitBtn:hover {
  background: transparent !important;
  color: #115C67 !important;
}

.formAddCguInput {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 2px;
  height: 46px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2f3a4a;
  width: 95%;
  padding: 5px 10px;
}

.formAddCguInput::placeholder {
  color: #ababab;
}

.formControl {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

@media (max-width: 768px) {
  .sommaireForumUserChat {
      margin-top: 10px;
  }
  .imgSommaireForumDiscussion {
      margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .containerCayore {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .rowReponse {
      width: 100%;
  }

  .cardDiscussionHeureCommentaire {
      font-size: 16px;
      line-height: 22px;
      gap: 5px;
  }

  .row-reponse-ligne-union::after,
  .forum-discussion-ligne-union::after {
      display: none;
  }
  .sommaireAvatarTitre {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
  }

}

@media (min-width: 768px) and (max-width: 900px) {
  /* .titre-sommaire-forum,
  .forum-sommaire-auteur-card {
      padding-left: 30px;
  } */
  .img-sommaire-forum {
      width: 70px;
      height: 70px;
  }
}

@media (max-width: 425px) {
  .contentSkeleton2 {
  width: 50px !important;
  height: 20px !important;
  }
}